@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">JYT GAME STORE Reports</h1>
    <br />
    <br />
    <img src="~/JYTLogo.JPG" />
    <br />
    <br />

    <a asp-area="" asp-controller="Reports" asp-action="ReportGames">Report Games</a>
    <br />
    <a asp-area="" asp-controller="Reports" asp-action="ReportEvents">Report Events</a>
    <br />
    <a asp-area="" asp-controller="Reports" asp-action="ReportMembers">Download Members Report</a>
    <br />
    <a asp-area="" asp-controller="Reports" asp-action="ReportWishlist">Download Wishlist Report</a>
    <br />
    <a asp-area="" asp-controller="Reports" asp-action="ReportOrders">Download Orders Report</a>
    <br />
    <a asp-area="" asp-controller="Reports" asp-action="ReportSales">Download Sales Report</a>
    <br />
    <a asp-area="" asp-controller="Reports" asp-action="ReportMemberDetails">Download Detail Member Report</a>
    <br />
    <a asp-area="" asp-controller="Reports" asp-action="ReportGameDetails">Download Detail Game Report</a>


</div>