@inject UserManager<IdentityUser> UserManager


<div class="row pt-lg-5 text-lg-center">
    <div class="col-6 bg-info">
        <h2 class="text-light">Friends and Family</h2>
    </div>
</div>
<br />
<br />




<form asp-controller="FriendsAndFamily" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="SearchString" class="form-control" placeholder="Search your friends and family" />
        <div class="input-group-append">
            <input type="submit" value="Search" class="input-group-text" />
        </div>
    </div>
</form>

<form asp-action="AddFriendsAndFamily">
    <table>
        @if (Model == null)
        {
            @TempData["notMatched"].ToString();
        }
        else
        {
            @foreach (var item in Model)
            {

                if (Model == null)
                {
                    @TempData["notMatched"].ToString();
                }
                else
                {
                    <tr>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            &nbsp; &nbsp;<input type="submit" asp-action="AddFriendsAndFamily" asp-route-email="@item.Email" class="btn btn-primary" value="Add to your friends and family list!">
                        </td>
                    </tr>
                }

            }
        }
    </table>
</form>
